# -------------------------
# Python
# -------------------------

__pycache__/
*.py[cod]
*$py.class

# -------------------------
# macOS
# -------------------------

.DS_Store
.AppleDouble
.LSOverride

# Resource Fork files
._*

# macOS folders
._*

# -------------------------
# VS Code
# -------------------------

.vscode/

# -------------------------
# Logs
# -------------------------

*.log

# -------------------------
# SQLite
# -------------------------

*.db-journal

# -------------------------
# Temporary files
# -------------------------

*.tmp
*.bak

# -------------------------
# Project backups
# -------------------------

backups/

# -------------------------
# Local data
# -------------------------

Data/

# -------------------------
# Local secrets
# -------------------------

config.py
.env
.env.*
!.env.example
